footer.main-footer
    .container
        .main-footer__wrapper
            ul
                li
                    a(href="") О компании
            ul
                li
                    a(href="") Генеральная логистика
                li
                    a(href="") Автомобильные перевозки
                li
                    a(href="") Железнодорожные перевозки
                li
                    a(href="") Сборные грузы
            ul
                li
                    a(href="") Перевозка листового стекла
                li
                    a(href="") Перевозка PLF стекла
                li
                    a(href="") Перевозка DLF стекла
                li
                    a(href="") Хранение стекла
            ul
                li
                    a(href="") Контакты
            ul.contacts
                li
                    a(href="tel:+78123343070") +7 812 334 30 70
                li
                    span Россия, 192007,
                li
                    span Санкт-Петербург,
                li
                    span Лиговский	пр, 150,
                li
                    span офис 402
