.dimensions {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 440px;
    ul {
        li {
            font-size: 20px;
            text-align: center;
            font-weight: 700;
            &.title {
                font-size: 45px;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
}
