.general-logistic {
    .main-title {
        max-width: 910px;
        width: 100%;
        margin: 0 auto;
        p {
            font-size: 33px;
            letter-spacing: 2px;
        }
    }
}
