.main-footer {
    margin-top: 100px;
}

.main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        flex-direction: column;
        &.contacts {
            a {
                font-weight: 700;
            }
        }
    }
    li {
        padding: 8px 0;
        a {
            font-size: 14px;
            color: $color-text;
            text-decoration: none;
        }
    }
}
