.services {
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
    h2 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 65px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        li {
            flex: 1 0 211px;
            max-width: 211px;
            display: flex;
            flex-direction: column;
            a {
                margin-bottom: 50px;
                transition: 0.3s;
            }
            h3 {
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 20px;
                b {
                    font-weight: 400;
                    color: $color-red;
                }
            }
            span {
                position: relative;
                font-size: 18px;
                font-weight: 400;
                text-align: left;
                margin-bottom: 15px;
                padding-left: 25px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 11px;
                    background-image: url("../images/icons/cube.svg");
                    top: 5px;
                    left: 0;
                }
            }
            &:hover {
                a {
                    transform: rotate(360deg);
                    transition: 1s;
                }
                h3 {
                    font-weight: 700;
                }
            }
        }
    }
}
