doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main
                .page-11
                    .container
                        .main-title
                            h1 Перевозка DLF стекла
                    .dimensions
                        ul
                            li.title DLF
                            li стекло размером
                            li 3 210 х 2 250 мм
                        ul
                            li.title MF
                            li стекло меньше, чем
                            li 3 210 х 2 250 мм
                        ul
                            li.title SDLF
                            li стекло размером
                            li 3 210 х 2 550 мм

                    .kinds
                        h2 СУЩЕСТВУЕТ ТРИ ВИДА ПЕРЕВОЗКИ СТЕКЛА ТЕНТОМ
                        .kinds__lists
                            ul
                                span.number 1
                                li Транспортировка стекла бездополнительногооборудования, как правило,стекло для остекления теплиц«Тепличка, Тепличное стекло»,сюда можно добавить любойформат стекла с высотой неболее <b>1 200</b> мм
                                li Самый большой формат дляперевозки данного стекласоставляет <b>2 000</b> х <b>1000</b> мм
                            ul
                                span.number 2
                                li Стекло перевозится тентомпри помощи А-образныхстоек (из профильнойтрубы), но с высотой неболее <b>2 250</b> мм
                                li Самый большой форматдля перевозки составляет <b>3 210</b> х <b>2 250</b> мм
                            ul
                                span.number 3
                                li Перевозка стекла тентом свысотой не менее <b>2 750</b> мм(еврофура, мега). стойки изуголка и профильной трубыпредназначены для любогоформата стекла, но не большечем <b>3 210</b> х <b>2 550</b> мм
                                li Особенность этих стоек:нужны высокие машины сминимальной высотой <b>2.75</b> метра

                    .container-cube
                        picture
                            img(src="images/rail.png" alt="")
                        .container-cube__content
                            h3 Вместимость листового стекла в одну тентованную машину:
                            ul.cube-list
                                li <b>SDLF</b>	3 210 х 2 550
                                li <b>DLF</b> 	3 210 х 2 250
                                li <b>MF</b>	2 850 х 1700 <b>14</b> ящиков;	Гардиан: на 6 стоек (3 пары)
                                li <b>MF</b>	2 040 х 1650	<b>14</b> ящиков;	Гродностекло на 6 стоек (3 пары)
                                li <b>MF</b>	2 000 х 1500	<b>14</b> ящиков;	Гардиан на 6 стоек (3 пары)
                                li <b>MF</b>	1745 х 792	<b>20</b> ящиков;	Гродностекло на Тритон (без стоек)

                    .types-glass.container
                        h2 Виды стекла
                        ul
                            li
                                span Закалённое стекло
                            li
                                span Энергосберегающее стекло
                            li
                                span Тонированное стекло
                            li
                                span Стекло с пиролитическим покрытием
                            li
                                span Флоат-стекло
                            li
                                span Зеркало
                            li
                                span Узорчатое стекло
                            li
                                span Армированное стекло
                            li
                                span Огнеупорное стекло
                            li
                                span Багетное стекло <span class="small">( так говорят про стекло Символа («тонкое стекло»))</span>

                    .scope
                        h2 СФЕРЫ ПРИМЕНЕНИЯ ЛИСТОВОГО СТЕКЛА DLF
                        .scope__lists
                            ul.cube-list
                                h3 Для остекления:
                                li оконных проемов
                                li дверных проемов
                                li витрин
                                li зенитных фонарей
                            ul.cube-list
                                h3 В качестве материала для изготовления:
                                li светильников верхнего света
                                li облицовки зданий
                                li предметов интерьера и декора
                                li в мебельном производстве и строительстве



                    include modules/feedback.pug

        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug