doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main
                .page-9
                    .container
                        .main-title
                            h1 Перевозка листового стекла
                    .hero.hero--1
                        span Всегда выше ваших ожиданий

                    .services
                        h2 Наши услуги
                        ul
                            li
                                a(href="page-6.html")
                                    img(src="images/services-item1.png" alt="")
                                h3 ПЕРЕВОЗКА<br> <b>PLF</b> СТЕКЛА
                            li
                                a(href="page-7.html")
                                    img(src="images/services-item2.png" alt="")
                                h3 ПЕРЕВОЗКА<br> <b>DLF</b> СТЕКЛА
                            li
                                a(href="page-8.html")
                                    img(src="images/services-item3.png" alt="")
                                h3 ХРАНЕНИЕ<br> СТЕКЛА

                    .numbers
                        .numbers__block-1
                            span.size-1 73
                            p единицы собственной техники
                        ul.numbers__block-2
                            li
                                p Инлоудера
                                span.size-2 53
                            li
                                span.size-2 20
                                p Тентованных <br>полуприцепа
                        .numbers__block-3
                            p укомплектованы стойками для перевозки стекла

                    .hero.hero--2
                        h2 МЫ ЗАБОТИМСЯ ОБ ОКРУЖАЮЩЕЙ	СРЕДЕ
                        .hero__lists
                            ul
                                li
                                    span.size-1 Используем тягачи
                                li
                                    span.size-1 экологического класса только
                                li
                                    span.size-2 EURO 5 <span class="size-1">и</span> EURO 6
                            ul
                                li
                                    span.size-1 Все машины
                                li
                                    span.size-2 2018 - 2019 <span class="size-1">гг.</span>
                                li
                                    span.size-1 выпуска

                    .container.container--mode
                        .container-cube
                            .container-cube__content
                                h3 Техника безопасности
                                ul.cube-list
                                    li Все водители проходят подробный инструктаж по технике безопасности и правилам поведения при погрузке и выгрузке
                                    li Каждая машина укомплектована необходимыми средствами индивидуальной защиты

                            picture
                                img(src="images/type-transport.png" alt="")

                    .advantages.container
                        h2 Преимущества
                        .advantages__wrapper
                            ul
                                li
                                    picture
                                        img(src="images/advantages-item1.svg" alt="")
                                    p Качественная<br> транспортировка без<br> порчи груза
                                li
                                    picture
                                        img(src="images/advantages-item2.svg" alt="")
                                    p Мы пунктуальны.<br> Наши машины не<br> опаздывают
                                li
                                    picture
                                        img(src="images/advantages-item3.svg" alt="")
                                    p Постоянно<br> обновляющийся парк<br> техники и тщательный<br> контроль технического<br> состояния
                            ul
                                li
                                    picture
                                        img(src="images/advantages-item4.svg" alt="")
                                    p Весь автопарк оснащен GPS, что<br> обеспечивает непрерывный<br> мониторинг по пути следования<br> транспорта
                                li
                                    picture
                                        img(src="images/advantages-item5.svg" alt="")
                                    p Все перевозки<br> застрахованы




                    include modules/feedback.pug

        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug